body {
	text-align: center;
	font-family: Verdana;
	margin: 0 0 0 0; 
	background-color: #ffffff;
	padding:0 0 0 0;
}

.noScreen {
	display: none;
}

#frame {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	background: #fff;
	min-height: 342px;
}
/* for Internet Explorer */
/*\*/
* html #frame, * html #kolom01 {
min-height: 342px;
}
/**/



#header {
	background: #fff;
	height: 124px;	
	padding: 10px 0px 0px 10px;
}
#navig {
	background: #844b0c;
	height: 24px;	
	padding: 0px 0px 0px 0px;
}
	
		
#kolom01 {
	width: 230px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
	float: left;
	background: #ffffff;
	min-height: 342px;
}
#kolom02 {
	width: 480px;
	padding: 30px 0px 0px 0px;
	margin: 0px 0px 10px 20px;
	float: left;
	min-height: 342px;
}

#kolom03 {
	width: 190px;
	padding:20px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
	float: left;
	background: #fff;
	

}
#item {
	margin-bottom:40px;	
}
#footer {
	float:left;
	width:960px;
	background: #fff;
	border-top: 3px solid #844b0c;
	height: 20px;
	color:#844b0c;
	font-size:12px;
	text-align:center;
}
#footer a {
		color:#844b0c;
		text-decoration: underline;
}

#headerright {
	float:right;
	margin-top:0px;	
}


ul#subnavlist {
	text-align:left;
	margin: 30px 0 0 -10px ;
	padding: 0 0 0 0;	
	white-space: nowrap;	
}
ul#subnavlist li {
	line-height:30px;
	height:30px;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	list-style-type:none;
	background: #dcdcdc none;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	-moz-border-radius: 8px;
	border-radius: 8px;
}
ul#subnavlist li a {
	font-family: arial,sans-serif;
	color: #454545;
	font-size: 12px;	
	text-decoration: none;
	text-transform: uppercase;
	width:230px;
	display: block;	
	padding-left: 8px;
	letter-spacing:1px;

}
ul#subnavlist li a:hover {
	background: #e8ddd1 none;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8ddd1));
	background: -moz-linear-gradient(top,  #fff,  #e8ddd1);
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#7e4200;
	
}
#sub {
	background-color: #faece0;
	padding: 10px 0px 10px 0px;	
	margin-bottom:15px;
}

#sub ul {
		
}
ul#navlist {
	text-align:center;
	margin: 0 0 0 0 ;
	padding: 0 0 0 0;
	white-space: nowrap;
}

#navlist li {
	display: inline;
	list-style-type: none;
	margin-left:10px;
	margin-right:10px;
}

#navlist a { 
	font-family: arial,sans-serif;
	color: #fff;
	font-size: 14px;	
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing:2px;
}
#navlist a:hover { 	
	text-decoration: underline;

}

ul#secondary {
	text-align:right;
	margin: 0 0px 20px 0 ;
	padding: 0 0 0 0;
	white-space: nowrap;
}

#secondary li {
	display: inline;
	list-style-type: none;
	margin-left:10px;
}

#secondary a { 
	font-family: arial,sans-serif;
	color: #7e4200;
	font-size: 10px;	
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing:1px;
}
#secondary a:hover { 	
	text-decoration: underline;

}
span.bold {
	font-weight: bold;	
}
ul{
	margin-top:0px;
}
ul li {
	font-family: arial,sans-serif;
	color: #454545;
	font-size: 12px;
	list-style-position: inside;
	}


p {
	font-size:12px;
	color: #464646;
	line-height: 18px;
	text-align: justify;
}
p.intro {
	font-size:18px;
	font-weight:normal;
	color: #464646;
	line-height: 24px;
}
p.quote {
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	color: #844b0c;
	line-height: 30px;
	text-align:left;
		
}

#item p {
	font-size:11px;
	text-align:left;
}


.align-left { float:left; margin: 0 15px 15px 0; } 

h1 {
	font-size:30px;
	font-weight:normal;
	color: #464646;
	margin-top:0px;
}

h2{
	font-size:18px;
	font-weight:normal;
	color: #464646;
	margin-bottom:-10px;
}
h3 {
	font-size:12px;
	font-weight:bold;
	color: #464646;
	margin-bottom:-10px;
}


input.search {
	background: #e8ddd1 none;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8ddd1), to(#fff));
	background: -moz-linear-gradient(top,  #e8ddd1,  #fff);
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #d5c2ad;
	width:195px;
	height:18px;	
	padding-left:5px;
}


.home {
	padding: 20px 0 10px;
}
.bottle {
	width: 240px;
	height: 736px;
	float: left;
}
.yellow {
	background: url(../images/yellow.png) no-repeat 50% 50%;
}
.blue {
	background: url(../images/blue.png) no-repeat 50% 50%;
}
.red {
	background: url(../images/red.png) no-repeat 50% 50%;
}
.green {
	background: url(../images/green.png) no-repeat 50% 50%;
}
.bottle-content {
	margin: 70px 10px 0;
	height: 258px;
	width: 220px;
	position: absolute;
}
.bottle-bg {
	background: #000 none;
	opacity: 0.62;
}

.bottle-content h2 {
	color: white;
	font-size: 16px;
	margin: 12px 10px 0;
}
.bottle-content p {
	color: white;
	font-size: 12px;
	margin: 0 10px 10px;
}
.bottle-content a.more {
	color: #ff7e00;
	font-size: 11px;
	text-decoration: none;
	margin: 10px 10px;
}




.contact {
	clear: both;
}
form {
	color: #717171;
	width: 320px;
}
fieldset {
	border: 1px solid #7E4200;
	-moz-border-radius: 14px;
}
.contact legend {
	font-size: 18px;
}
.contact label {

	display: block;
	font-size: 12px;
	padding: 20px 0 5px;
}
.contact input.txt, .contact textarea {
	border: 0;
	padding: 0;
	width: 294px;
	height: 20px;
	background: #e8ddd1 none;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8ddd1), to(#fff));
	background: -moz-linear-gradient(top,  #e8ddd1,  #fff);
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-left:5px;
	border: 1px solid #d5c2ad;
}


.contact textarea {
	height: 100px;
}
.contact input.submit {
	float: right;
	margin: 10px 0 0;
	padding: 0 20px;
	border: 0;
	background: #c0a282 none;
	color: white;
	width: auto;
	cursor: pointer;
}

.contact span {
	display:block;	
}
.contact label.check {
	padding: 0 0 0 0;
}

.sitemap {
	clear: both;
}
.sitemap ul {
	list-style: square outside;

	margin: 0;
}
.sitemap ul li {
	color: #8a8888;	margin: 4px 0;
	font-family: arial;
}
.sitemap ul li a {
	color: #454545;
}


